/* CSS files add styling rules to your content */

body {
  
  margin: 2em;
  background-image: linear-gradient(CornFlowerBlue, LavenderBlush, CornFlowerBlue);
  border: dashed;
  border-color: white;
}

.title {
  font-style: italic;
  font-color: white;
  font-size: 3em;
  font-family: Chalkduster, fantasy;
  text-align: center
  
}

div2 {
  margin: auto;
  height:200;
  padding:20px;
  argin-vertical: auto;
  align: center;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

