/* CSS files add styling rules to your content */

body {
  
  margin: 2em;
  background-image: linear-gradient(CornFlowerBlue, LavenderBlush, CornFlowerBlue);
  border: dashed;
  border-color: white;
}

.title {
  font-style: italic;
  font-color: white;
  font-size: 3em;
  font-family: Chalkduster, fantasy;
  text-align: center
  
}

div2 {
  margin: auto;
  height:200;
  padding:20px;
  argin-vertical: auto;
  align: center;

}

div10{
  background-image: linear-gradient(LightBlue, LavenderBlush);
}
div11{
  background-image: linear-gradient(LavenderBlush, LightBlue);
}
div12{
  background-image: linear-gradient(LightBlue, LavenderBlush);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: center;
}

.text{
  font-family: Chalkduster, fantasy;
  font-size: 3em;
}

.rectangle {
  height: 4em;
  width: 9em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
